# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.gradle
.settings
bin
build
gradle
.classpath
.project-specific
gradlew
gradlew.bat
.gitattributes
